# Temporary Files
*~
.*.swp
.DS_STORE

.gradle/
bin/
obj/
out/
classes/
.gwt/
gwt-unitCache/
war/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
dist/
compiled-js/
target/
build/
**/webapp/assets

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
*.cache
*.js

libgdx-*.zip
libgdx-*.zip.MD5

*.iml
/.idea/

natives/
libs/
**/jni/*
!**/jni/src
!**/jni/emscripten
