# Temporary Files
*~
.*.swp
.DS_STORE

#Ignore Eclipse files
.classpath
.project
*.prefs
##

.gradle/
bin/
obj/
out/
classes/
.gwt/
gwt-unitCache/
war/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
dist/
compiled-js/
target/
build/
**/webapp/assets

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
*.cache

libgdx-*.zip
libgdx-*.zip.MD5

*.iml
/.idea/

natives/
**/jni/build
ProguardMapping.txt
local.properties
**/dragome-resources
**/webapp/**/*.js
*.ini
examples/**/*.xml
examples/**/*.html
**/gdx-bullet-teavm/src/**
**/gdx-box2d-teavm/src/**