# Temporary Files
*~
.*.swp
.DS_STORE

.gradle/
build/
bin/
obj/
out/
classes/
.gwt/
gwt-unitCache/
war/
gen/
gen-external-apklibs/
armeabi/
armeabi-v7a/
linux32/
linux64/
windows32/
windows64/
macosx32/
ios32/
Debug/
Release/
x64/
x86/
ipch/
/dist
compiled-js/
classes/
bin/

*.a
*.dll
*.dll.mdb
*.userprefs
*.sdf
*.class
*.cache

libgdx-*.zip
libgdx-*.zip.MD5

*.iml
/.idea/

#/backends/gdx-backend-dragome/libs/
/backends/gdx-backend-dragome/libs/source

