<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="gdx-teavm basic"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.github.xpenatan.gdx.teavm.android.TeaAndroidActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
