name: Build and Upload

on:
  workflow_call:
    inputs:
      isRelease:
        required: true
        type: boolean
      shouldUpload:
        required: true
        type: boolean

env:
  RELEASE: ${{ inputs.isRelease }}

jobs:
  build_linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Check Ant
        run: ant -version
      - name: Set up MinGW
        run: |
          sudo apt install -y --force-yes mingw-w64 lib32z1
      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      - name: Get version
        uses: madhead/read-java-properties@latest
        id: version
        with:
          file: "./gradle.properties"
          property: version
          default: 0.0.1

      - name: Upload to repository
        uses: nick-fields/retry@v3
        if: ${{ success() && inputs.shouldUpload == 'true' }}
        with:
          max_attempts: 3
          timeout_minutes: 10
          retry_on: error
          command: ./gradlew publish
        env:
          USER: ${{ secrets.USER }}
          PASSWORD: ${{ secrets.PASSWORD }}
          SIGNING_KEY: ${{ secrets.PGP_SECRET }}
          SIGNING_PASSWORD: ${{ secrets.PGP_PASSPHRASE }}

      - name: Create Git tag
        uses: actions/github-script@v7
        if: ${{ success() && inputs.isRelease == 'true' }}
        with:
          script: |
            const versionOutputs = ${{ toJSON(steps.version.outputs) }};
            
            var version = versionOutputs.value;
            
            console.log("Version: " + version);
            
            var ref = "refs/tags/" + version
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: ref,
              sha: context.sha
            });